* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(255, 77, 112),
    rgb(254, 152, 119)
  );
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-block {
  position: relative;
  width: 70rem;
  height: 8rem;
  background: rgba(225, 225, 225, 0.4);
  border-radius: 17px 17px 17px 0px;
  margin-bottom: 1rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
}

.title-block-text {
  color: white;
  font-size: 5rem;
  letter-spacing: 1rem;
  text-align: center;
  padding: 10px;
}

.frame {
  position: relative;
  width: 70rem;
  height: 60rem;
  background: rgba(225, 225, 225, 0.4);
  border-radius: 0 17px 17px 17px;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(200px);
  filter: blur();
}

.elements {
  text-align: center;
}

.element {
  position: relative;
  top: 8rem;
  display: inline-block;
  width: 7rem;
  height: 7rem;
  font-size: 4rem;
  padding: 10px;
}

.numbers {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}
#answer-box {
  width: 9rem;
}

.glow {
  box-shadow: 0px 0px 15px 10px rgb(255, 208, 0);
}

.correct {
  border: 2px solid rgba(28, 238, 0, 0.966);
}

.wrong {
  border: 2px solid rgba(238, 0, 0, 0.966);
}

.btn-check {
  position: relative;
  width: 16rem;
  height: 6rem;
  left: 50%;
  top: 13rem;
  transform: translateX(-50%);
  background-color: #00c11f;
  border-radius: 5px;
  border: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
}

.btn-new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(255, 196, 0);
  border-radius: 20px;
  border-radius: 5px;
  border: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;

  width: 16rem;
  height: 6rem;
}

.btn-check-text {
  color: white;
  font-size: 2rem;
}

.btn-check:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn-new:active {
  transform: translate(0, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.answers {
  text-align: left;
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
}

.answ {
  display: inline-block;
  font-size: 2rem;
  color: #333;
}

.answers-label::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.answers-value {
  font-size: 2.7rem;
  margin-left: 0.5rem;
  padding-top: 1px;
}

.hidden {
  visibility: hidden;
}

.cleard {
  display: none;
}

.bottom {
  position: relative;
  top: 15rem;
  width: 100%;
  text-align: center;
  display: flex;
}

.emoji {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.hint {
  width: 50%;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 3rem;
  padding-top: 5rem;
  padding-right: 3rem;
  line-height: 4.5rem;
}

.emoji-pic {
  width: 20rem;
  height: 20rem;
}

.guess {
  width: 7rem;
  height: 5rem;
  text-align: center;
  font-size: 4rem;
  border: none;
}
